IO_LOC "a" 44;
IO_PORT "a" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "b" 13;
IO_PORT "b" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33;

// led vermelho
IO_LOC "z" 9;
IO_PORT "z" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;




